<div class="content">
	<h3 class="{{mode}}">{{title}}</h3>
	<div class="grid">
		<div class="input-holder">
			<p>Nombre</p>
			<input ng-disabled="editionDisabled" ng-model="product.name"/>
		</div>
		<div class="input-holder">
			<p>Descripción</p>
			<textarea ng-disabled="editionDisabled" ng-model="product.description"/>
		</div>
		<div class="input-holder">
			<p>Aporte energetico (kcal)</p>
			<input ng-disabled="editionDisabled" type="number" ng-model="product.energy"/>
		</div>
		<div class="input-holder">
			<p>Cantidad (gr)</p>
			<input ng-disabled="editionDisabled" type="number" ng-model="product.quantity"/>
		</div>
		<div class="input-holder">
			<p>Proteinas (100gr)</p>
			<input ng-disabled="editionDisabled" type="number" ng-model="product.protein"/>
		</div>
		<div class="input-holder">
			<p>Grasas (100gr)</p>
			<input ng-disabled="editionDisabled" type="number" ng-model="product.fats"/>
		</div>
		<div class="input-holder">
			<p>Carbohidratos (100gr)</p>
			<input ng-disabled="editionDisabled" type="number" ng-model="product.carbohydrates"/>
		</div>
		<div class="input-holder">
			<p>Categoria</p>
			<input ng-disabled="editionDisabled" ng-model="product.category.name"/>
		</div>
		<div class="buttons">
			<button class="new button" ng-if="mode=='new'">
				<i class="fa fa-plus"></i>
				Crear
			</button>
			<button class="delete button" ng-if="mode=='delete'">
				<i class="fa fa-trash-o"></i>
				Eliminar
			</button>
			<button class="save button" ng-if="mode=='edit'">
				<i class="fa fa-save"></i>
				Guardar
			</button>
			<button class="discard button" ng-if="mode!='detail'">
				Cancelar
			</button>
		</div>
	</div>
</div>