<div class="content">
	<h3 class="{{mode}}">
		{{title}}
	</h3>
	

	<form name="grid" novalidate class="grid" ng-if="renderReady">
		<dir-grid-field ng-repeat="field in config.fields" 
						ng-if="!field.gridHidden"
						data-value="record[field.name]"
						data-subvalue="record[field.name][field.subName]"
						data-disabled="isDisabled()"
						data-config="field"
						data-error="grid"
						data-dependency="getDependencyValue(field.dependency)">
		</dir-grid-field>
		
		<div class="buttons" ng-if="mode !== 'detail'">
			<button data-loading="{{loading}}" class="{{mode}} button" ng-click="gridAction()">
				<i class="fa {{buttonParams.ico}}"></i>
				<i class="load fa fa-cog fa-spin"></i>
				<span>{{buttonParams.text}}</span>
			</button>	
			<button class="discard button">
				Cancelar
			</button>
		</div>
	</form>
</div>