<div class="content">
	<h3 class="{{mode}}">
		{{title}}
	</h3>
	
	<div class="grid" ng-if="record">
		<dir-grid-field ng-repeat="field in config.fields" 
						ng-if="!field.gridHidden"
						value="record[field.name]"
						subvalue="record[field.name][field.subName]"
						data-title="field.title"
						data-disabled="isDisabled()"
						data-type="field.type"
						data-dependency="getDependencyValue(field.dependency)">
		</dir-grid-field>
		
		<div class="buttons" ng-if="mode !== 'detail'">
			<button class="{{mode}} button">
				<i class="fa {{buttonParams.ico}}"></i>
				<i class="load fa fa-cog fa-spin"></i>
				<span>{{buttonParams.text}}</span>
			</button>	
			<button class="discard button">
				Cancelar
			</button>
		</div>
	</div>
</div>