<div class="content list">
	<div class="head">
		<h3 class="title">Listado de productos</h3>
		<a class="new" ui-sref="products.product-grid({action: 'new', id: ''})">
			<i class="fa fa-plus"></i>
			Añadir
		</a>
	</div>
	<div class="table-adaptative">
		<table>
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th>#</th>
					<th>Nombre</th>
					<th>Descripción</th> 
					<th>Energia</th>
					<th>Cantidad</th>
					<th>Proteinas</th>
					<th>Grasas</th>
					<th>Carbohidratos</th>
					<th>Categoria</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products" class="row">
					<td class="action view">
						<a ui-sref="products.product-grid({action: 'detail', id: product._id})">
							<i class="fa fa-search-plus"></i>
						</a>
					</td>
					<td class="action edit">
						<a ui-sref="products.product-grid({action: 'edit', id: product._id})">
							<i class="fa fa-pencil"></i>
						</a>
					</td>
					<td class="action remove">
						<a ui-sref="products.product-grid({action: 'delete', id: product._id})">
							<i class="fa fa-trash-o"></i>
						</a>
					</td>
					<td>{{product._id}}</td>
					<td>{{product.name | cut: 20 }}</td>
					<td>{{product.description | cut: 20 }}</td> 
					<td>{{product.energy}}</td> 
					<td>{{product.quantity}}</td> 
					<td>{{product.protein}}</td> 
					<td>{{product.fats}}</td> 
					<td>{{product.carbohydrates}}</td> 
					<td>{{product.category.name}}</td> 
				</tr>
			</tbody>
		</table>
	</div>
	
	<!--Component-->
	<div class="paginator no-select">
		<div class="buttons">
			<div 	ng-class="paginator.currentPage == 1 ? 'deactivate' : ''" 
					class="button prev" ng-click="getProducts(paginator.currentPage-1)">
				<i class="fa fa-backward"></i>
			</div>
			<div 	ng-repeat="page in paginator.pages track by $index" 
					class="button page"
					ng-class="page === paginator.currentPage ? 'active' : ''" 
					ng-click="getProducts(page)">
				{{page}}
			</div>
			<div 	ng-class="paginator.currentPage == paginator.finalPage ? 'deactivate' : ''" 
					class="button next" ng-click="getProducts(paginator.currentPage+1)">
				<i class="fa fa-forward"></i>
			</div>
		</div>
	</div>
	<!--Component-->
	
</div>
<div class="column second-column" ui-view="">
</div>