<div class="grid-field">
	<p>{{gridField.config.title}}</p>
	<input 	type="{{gridField.config.type}}"
			name="{{gridField.config.name}}"
			ng-required="isRequired"
			ng-if="gridField.config.type !== 'textarea' && gridField.config.type !== 'select'" 
			ng-disabled="gridField.disabled" 
			placeholder="{{getPlaceholder()}}"
			ng-model="gridField.value"/>
			
	<textarea 	name="{{gridField.config.name}}"
				ng-required="isRequired"
				ng-if="gridField.config.type === 'textarea'" 
				ng-disabled="gridField.disabled"
				placeholder="{{getPlaceholder()}}"				
				ng-model="gridField.value"/>
	
	<input 	name="{{gridField.config.name}}"
			ng-required="isRequired"
			ng-if="gridField.config.type === 'select' && gridField.disabled" 
			ng-disabled="gridField.disabled" 
			placeholder="{{getPlaceholder()}}"
			ng-model="gridField.subvalue"/>
	
	<select	name="{{gridField.config.name}}"
			ng-required="isRequired"
			ng-if="gridField.config.type === 'select' && !gridField.disabled" 
			ng-model="gridField.value"
			ng-init="prepareSelectedValue()"
			ng-options="option as option.name for option in gridField.dependency">
			    <option ng-if="showDefault" value="">Seleccione una opción</option>
	</select>
	<div class="errors">
		<p class="error" ng-repeat="(key, value) in gridField.error[gridField.config.name].$error">
			{{gridField.config.validations[key]}}
		</p>		
	</div>
	
</div>